/* Змінити сімейство шрифтів і розмір шрифту тегу body */
body {
    font-family: Arial, sans-serif; /* Змінити сімейство шрифтів */
    font-size: 16px; /* Змінити розмір шрифту */
    background-color: #black;
}

/* Змінити властивість кольору фону тегу header */
header {
    background-color: #black; /* Змінити колір фону */
}

/* Змінити властивість кольору фону тегу nav */
nav {
    background-color: #black; /* Змінити колір фону */
}

/* Змінити колір фону та розмір шрифту тегу main */
main {
    background-color: #f0f0f0; /* Змінити колір фону */
    font-size: 14px; /* Змінити розмір шрифту */
}

/* Змінити властивість кольору фону тегу footer */
footer {
    background-color: #white; /* Змінити колір фону */
}

/* Змінити властивості display і width тегу li */
li {
    display: inline-block; /* Змінити властивість display */
    width: 100px; /* Змінити ширину */
}

/* Змінити вирівнювання тексту, сімейство шрифтів і кольору тегу h1 */
h1 {
    text-align: center; /* Змінити вирівнювання тексту */
    font-family: Georgia, serif; /* Змінити сімейство шрифтів */
    color: #black; /* Змінити колір тексту */
}

/* Змінити властивість висоти рядка тегу p */
p {
    line-height: 1.8; /* Змінити висоту рядка */
}
